* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  display: grid;
  height:100vh;
  grid-template-rows: auto 1fr;
}

/* Header */
nav {
  width: 100%;
  height: 0px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 0.1fr auto;
  transition: box-shadow 200ms ease-in-out;
  border-bottom: 1px solid transparent;
  border-color: rgba(0, 0, 0, 0.14);
}

.nav-items {
  display: grid;
  padding: 20px;
  grid-template-rows: 1fr;
  grid-template-columns: 100px 120px 100px 100px 80px;
}

nav .logo {
  padding: 18px;
  vertical-align: center;
  font-size: 1.26em;
}

.nav-items div {
  padding: 0px 18px;
  font-weight: 500;
  text-align: center;
}
.nav-items > div > a {
  cursor: pointer;
}

.nav-items div:hover {
  font-weight: bold;
}

.nav-items div a {
  text-decoration: none;
  color: black;
}

/* Content */
.content {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto;
}

/* Sidebar */
.content__container__sidebar {
  border-right: 1px solid transparent;
  border-color: rgba(0, 0, 0, 0.14);
  transition: all 1s;
}
.content__container__sidebar__content {
  width: 200px;
  display: grid;
  position: fixed;
  /* display: none; */
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
}
/* Sidebar Footer */
.content__container__sidebar__footer {
  padding: 20px;
  text-align: center;
  font-weight: 500;
  border-top: 1px solid transparent;
  border-color: rgba(0, 0, 0, 0.14);
}
.content__container__sidebar__footer:hover {
  font-weight: bold;
}
/* Sidebar Item */
.content__container__sidebar__heading {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: -20px;
  border-bottom: 1px solid transparent;
  border-color: rgba(0, 0, 0, 0.14);
}

.content__container__sidebar__item {
  padding: 15px;
  margin-left: 20px;
  text-decoration: none;
  color:black;
  outline: none;
  border-bottom: 1px solid transparent;
  border-color: rgba(0, 0, 0, 0.14);
}
.content__container__sidebar__item:hover {
  border-bottom: 1px solid transparent;
  border-color: rgba(0, 0, 0, 1);
}
/* Sidebar Item Name */
.content__container__sidebar__item__name {
  cursor: pointer;
}
/* Sidebar Item Amount */
.content__container__sidebar__item--amount {
  font-size: 12px;
}
/* Sidebar Item Action */
.content__container__sidebar__item--action {
}
.content__container {
}
/*
Hi! If my code is useful for you can you donate me some money? 
https://www.paypal.me/melnik909
*/

/*
=====
LEVEL 1. RESET STYLES
=====
*/

.field{
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
}

.field__input{ 
  background-color: transparent;
  border-radius: 0;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: inherit;
  font-size: 1em;
}

.field__input:focus::-webkit-input-placeholder{
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder{
  color: var(--uiFieldPlaceholderColor);
  opacity: 1;
}

/*
=====
LEVEL 2. CORE STYLES
=====
*/

.a-field{
  display: inline-block;
}

.a-field__input{ 
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.a-field__input:focus{
  outline: none;
}

/*
=====
LEVEL 3. PRESENTATION STYLES
=====
*/

/* a-field */

.a-field{
  --uiFieldHeight: var(--fieldHeight, 40px);  
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldBorderColor: var(--fieldBorderColor);

  --uiFieldFontSize: var(--fieldFontSize, 1em);
  --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);

  --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);   

  position: relative;
  box-sizing: border-box;
  font-size: var(--uiFieldFontSize);
  padding-top: 1em;  
}

.a-field .a-field__input{
  height: var(--uiFieldHeight);
  padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);  
}

.a-field .a-field__input::-webkit-input-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.a-field .a-field__input::-moz-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.a-field .a-field__input:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label{
  opacity: 0;
  bottom: var(--uiFieldPaddingBottom);
}

.a-field .a-field__input:focus::-webkit-input-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.a-field .a-field__input:focus::-moz-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.a-field .a-field__label-wrap{
  box-sizing: border-box;
  width: 100%;
  height: var(--uiFieldHeight);	

  pointer-events: none;
  cursor: text;

  position: absolute;
  bottom: 0;
  left: 0;
}

.a-field .a-field__label{
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  bottom: calc(50% - .5em);

  line-height: 1;
  font-size: var(--uiFieldHintFontSize);

  pointer-events: none;
  transition: bottom .2s cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity .2s ease-out;
  will-change: bottom, opacity;
}

.a-field .a-field__input:focus ~ .a-field__label-wrap .a-field__label{
  opacity: 1;
  bottom: var(--uiFieldHeight);
}

/* a-field_a1 */

.a-field_a1 .a-field__input{
  transition: border-color .2s ease-out;
  will-change: border-color;
}

.a-field_a1 .a-field__input:focus{
  border-color: var(--fieldBorderColorActive);
}

/* a-field_a2 */

.a-field_a2 .a-field__label-wrap:after{
  content: "";
  box-sizing: border-box;
  width: 0;
  height: var(--uiFieldBorderWidth);
  background-color: var(--fieldBorderColorActive);

  position: absolute;
  bottom: 0;
  left: 0;  

  will-change: width;
  transition: width .285s ease-out;
}

.a-field_a2 .a-field__input:focus ~ .a-field__label-wrap:after{
  width: 100%;
}

/* a-field_a3 */

.a-field_a3{
  padding-top: 1.5em;
}

.a-field_a3 .a-field__label-wrap:after{
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 0;

  opacity: 0;
  border: var(--uiFieldBorderWidth) solid var(--fieldBorderColorActive);

  position: absolute;
  bottom: 0;
  left: 0;

  will-change: opacity, height;
  transition: height .2s ease-out, opacity .2s ease-out;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap:after{
  height: 100%;
  opacity: 1;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap .a-field__label{
  bottom: calc(var(--uiFieldHeight) + .5em);
}

/*
=====
LEVEL 4. SETTINGS
=====
*/

.field{
  --fieldBorderColor: lightBlue;
  
  --fieldBorderColorActive: blue;
}
