.content__container__main {
  background-color: #f5f5f5;
  width: 100%;
  padding-top: 20px;
  display: grid;
  grid-template-columns: auto 1000px auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'spaceHeaderLeft header spaceHeaderRight'
    'spaceContentLeft content spaceRight';
}
.content__container__main__header {
  grid-area: header;
  width: 100%;
  font-size: 2.5em;
  padding-bottom: 8px;
  font-weight: bolder;
  margin-bottom: 20px;
  border-bottom: 1px solid transparent;
  border-color: rgba(0, 0, 0, 0.14);
}
.content__container__main__product {
  display: grid;
  grid-area: content;
  grid-template-columns: 330px 1fr;
  grid-template-rows: repeat(2, 250px);
  grid-column-gap: 70px;
  grid-row-gap: 0px;
  grid-template-areas: 'image price' 'description description';
}
.content__container__main__product__image {
  height: 250px;
  grid-area: image;
  background-image: url('../../assets/loader.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 50px;
}
.content__container__main__product__image > img {
  max-height: 250px;
}
.content__container__main__product__price {
  grid-area: price;
}
.content__container__main__product__price__title {
  font-size: 3em;
}
.content__container__main__product__description {
  padding-top: 30px;
  grid-area: description;
}
.content__container__main__product__description__title {
  font-size: 2em;
}
.content__container__main__product__addToCart {
  grid-area: addToCart;
}
.content__container__main__product__addToCart__button {
  width: 100%;
  height: 65px;
  color: white;
  font-size: 1.2em;
  background-color: rgba(255, 82, 82, 0.87);
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;
}
.content__container__main__product__controller {
  display: grid;
  grid-template-columns: 80px 120px 80px;
  grid-template-rows: 30px;
  grid-template-areas: 'minus input plus';
  grid-column-gap: 8px;
}
.content__container__main__product__controller__input {
  grid-area: input;
  border: none;
  background-color: transparent;
  text-align: center;
  outline-width: 0 !important;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.content__container__main__product__controller__plus {
  grid-area: plus;
}
.content__container__main__product__controller__minus {
  grid-area: minus;
}
.error {
  grid-area: header;
  text-align: center;
  margin-top: 20%;
}
